.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#pageContent {
    background: url('../assets/hr-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    /* backdrop-filter: ; */
}


/* input {
    height: 40px;
    outline: none;
    padding: 10px;
    margin: 12px;
    width: 100px;
} */

.inlineLogo {
    position: absolute;
    line-height: 64px;
}

.text-accent {
    color: #ea3f2d
}

.bg-accent {
    background-color: #ea3f2d
}

#submitBtn {
    margin-top: 64px;
    margin-bottom: 32px;
    border-top: 1px dashed #eaeaea;
}

#submitBtn button {
    margin-top: -28px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f7644a+0,e73827+100 */
    background: rgb(247, 100, 74);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(247, 100, 74, 1) 0%, rgba(231, 56, 39, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(247, 100, 74, 1) 0%, rgba(231, 56, 39, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(247, 100, 74, 1) 0%, rgba(231, 56, 39, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7644a', endColorstr='#e73827', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: #fff;
}

.maxWidth320 {
    max-width: 320px;
    margin: 0 auto;
}